<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Version Release="VCC 2.1.0c Tandy Color Computer 3 Emulator" />
  <CPU CPUMultiplier="227" 
       FrameSkip="1" 
       SpeedThrottle="1" 
       CpuType="0" 
       MaxOverClock="227" />
  <Audio SoundCardName="Primary Sound Driver" 
         AudioRate="3" />
  <Video MonitorType="0" 
         PaletteType="1" 
         ScanLines="0" 
         AllowResize="1" 
         ForceAspect="1" 
         RememberSize="1" 
         WindowSizeX="1217" 
         WindowSizeY="754" />
  <Memory RamSize="1" 
          ExternalBasicImage=""/>
  <Misc AutoStart="1" 
        CartAutoStart="1" 
        KeyMapIndex="0"/>
  <Module ModulePath=""/>
  <LeftJoyStick UseMouse="1" 
                Left="75" 
                Right="77" 
                Up="72" 
                Down="80" 
                Fire1="59" 
                Fire2="60" 
                DiDevice="0" 
                HiResDevice="0"/>
  <RightJoyStick UseMouse="1" 
                 Left="75" 
                 Right="77" 
                 Up="72" 
                 Down="80" 
                 Fire1="59" 
                 Fire2="60" 
                 DiDevice="0" 
                 HiResDevice="0"/>
  <DefaultPaths CoCoRomPath=""
                CassPath="C:\Users\erich\Downloads\Cashman (Computer Shack)"
                PakPath="C:\Users\erich\source\repos\VCC\bin\Debug\x64\mpi"
                FloppyPath=""
                MPIPath="C:\CoCo"
                SerialCaptureFilePath=""/>
  <!-- MODULE SPECIFIC -->
  <FD-502 DiskRom="1"
          RomPath=""
          Persist="1"
          Disk0=""
          Disk1=""
          Disk2=""
          Disk3=""
          ClkEnable="1"
          TurboDisk="1"/>
  <MPI SWPOSITION="3"
       PesistPaks="1"
       SLOT1=""
       SLOT2=""
       SLOT3=""
       SLOT4="C:\CoCo\Mega-Bug (1982) (26-3076) (Tandy).ccc"
       MPIPath="C:\CoCo"/>
  <HardDisk HardDiskPath=""/>
  <SuperIDE SuperIDEPath=""/>
</configuration>